@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');



#bg-video{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    right: 0;
    bottom: 0;

    
}
.navbar{
    background-color: none;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    color: whitesmoke;
}

.navbar-brand{
    font-size: 2rem;
}
.nav{
    margin-left: 16rem;
}


#slideShowGallary{
    position: absolute;
    margin-top: 10rem;

}


.carousel-item img{
    height: 20rem;
    width: 40rem;
}
#contact{
    margin-top: 6rem;
}
textarea{
    height: 8rem;
    width: 5rem;
}
.card{
    width: 15rem;
}

.blog-card{
    margin-top: 8rem;
}
.form{
    width: 35rem;
    height: 25rem;
    margin-left: 10rem;
    border: 1px solid red;
    padding: 1rem;
}
.form-control{
    width: 30rem;
    height: 1rem;
    
}