@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#bg-video{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    right: 0;
    bottom: 0;

    
}
.navbar{
    background-color: none;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    color: whitesmoke;
}

.navbar-brand{
    font-size: 2rem;
    
}
.navbar-brand:hover{
    
}
.nav{
    margin-left: 16rem;
}


#slideShowGallary{
    position: absolute;
    margin-top: 10rem;

}


.carousel-item img{
    height: 25rem;
    width: 60rem;
}
/* #contact{
    margin-top: 6rem;
    position: absolute;
} */
textarea{
    height: 8rem;
    width: 5rem;
}
.card{
    width: 15rem;
}

.blog-card{
    margin-top: 4rem;
}
.form{
    width: 35rem;
    height: 25rem;
    margin-left: 10rem;
    border: 1px solid red;
    padding: 1rem;
}
.form-control{
    width: 30rem;
    height: 1rem;
    
}
.slideshow{
    margin-top: 7rem;
    margin-left: 15rem;
}

.carousel-control-prev-icon{
    width: 2rem;
    height: 2rem;

    
  

}
.carousel-control-prev-icon:hover{
    background-color: darkcyan;
    border-radius: 50% ;
}
.carousel-control-next-icon:hover{
    background-color: darkcyan;
    border-radius: 50% ;
}
.carousel-control-next-icon{
    width: 2rem;
    height: 2rem;
  

}

.carousel-control-prev{
    color: darkcyan;
}

.carousel-caption{
    font-family: 'Lobster', cursive;
    color: cornflowerblue;
}

#img-g img{
    width: 20rem;
    height: 20rem;

}

.navb{
    background: rgb(65, 65, 94);
    /* background-image: url('.assets/Images/navbackground.jpg') no-repeat;
    background-size: cover; */
}
.nav-link:hover{
    color: brown;

}
.contactpage{
    margin-top: 10rem;
}
.footer-social-media li{
    display: inline-block;
    margin-left: 3rem;
}
footer{
    background-color: cadetblue;

}

.copyright{
    border-top: 0.5px solid burlywood;
    padding-top: 1rem;
    right: 0;
}
.fcontent li{
    color: whitesmoke;

}
.fcontent li a{
    color: whitesmoke;
    text-decoration: none;
}">>> Ho